<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %} Actividades DCC {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}"">
    </head>
    <body>
        <header>
            <h1>Actividades DCC</h1>
            <nav>
                <a href = "{{ url_for('portada')}}">Inicio</a>
                <a href = "{{ url_for('registro')}}">Registro</a>
                <a href = "{{ url_for('listado')}}">Listado</a>
                <a href = "#">Estadísticas</a>
            </nav>
        </header>

        <main>
            {% block contenido %}{% endblock %}
        </main>

        <footer>
            <p>Departamento de Ciencias de la Computación, Universidad de Chile</p>
        </footer>
        
        {% block scripts %}{% endblock %}
    

    </body>
</html>